body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app{
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.app button{
  margin-left: 30px;
}

.input-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

input{
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

button{
  padding: 10px 15px;
  background: #ff9c00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover{
  background: #ffbb33;
}

.task-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.tax-list li{
  background: rgba(255,255,255,0.2);
  margin-bottom: 0.5rem;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, background 0.3s ease;
}

.task-list li :hover{
  transform: scale(1.03);
  background: rgba(255,255,255,0.3);
}

.task-list li.completed span{
  text-decoration: line-through;
  opacity: 0.7;
}